@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*,*::after,*::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
:root
{
    --secondary-hover-bg:rgb(202, 202, 202);
    --accent-color:rgb(133, 219, 133);
    --bg-layer-1:#E2E6EA;
    --bg-layer-2:#f1f4f5;
    --link-color:rgb(27, 47, 233);
}
body
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-layer-1);
    overflow: hidden;
    /* background-color: #242421; */
    /* padding: em; */
}
#root
{
    width: 100%;
    max-width: 600px;
    height: 90vh;
    /* margin-top: 3em; */
    /* padding: 1em; */
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-layer-2);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgb(221, 218, 218);
    /* min-height: 85%; */
    overflow: hidden;
    /* background-color: #aeb0b4; */
}
.addContainer
{
    /* width:95%; */
    width:100%;
    padding:1em;
    /* background-color: var(--bg-layer-1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-left: 5px solid var(--accent-color); */
    /* border-radius: 0 8px 8px 0; */
    background-color: #d4d6da;
}
.iconContainer
{
    all:unset;
    /* border: 1px solid black; */
    display: flex;
    justify-items: center;
    align-items: center;
    widows: 20%;
}
.iconContainer:focus
{
    outline:none;
}
.addInputBox
{
    /* margin-left: 20%; */
    /* margin-right: 20%; */
    width:90%;
    background-color: var(--bg-layer-1);
    background-color: #d4d6da;
    border:none;
    border-bottom:1.2px solid black;
    padding:0.5em 0.5em;
    outline: none;
    font-weight: bold;
    font-size: 1.3rem;
    /* all:unset; */
}
.list
{
    /* width: 0; */
    /* background-color: #f1f4f5; */
    width: 100%;
    overflow-y:scroll ;
    background-color: var(--bg-layer-2);
    /* display:flex; */
    /* height: 100%; */
    /* max-width: 100%; */
    padding: 1em;
    list-style-type: none;
    
}
.list::-webkit-scrollbar { 
    display: none; 
}
.list__item
{
    padding: 0.75em 0.5em;
    /* display: inline-block; */
    /* padding-left: 0.5em; */
    width: 100%;
    /* margin: 0; */
    /* width: fit-content; */
    word-wrap: break-word;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
    margin-bottom: 1em;
    background-color: var(--bg-layer-1);
    /* border-left: 5px solid var(--accent-color); */
    border-radius: 8px;
}

.list__item .content
{
    /* display: ; */
    min-height: 34px;
    padding: 0 0.5em;
    width: 90%;
    /* word-wrap: break-all; */
    line-height:40px;
    /* line-height: 20px; */
}


header
{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
    /* border: 2px solid black; */
    /* margin-bottom: 0.5em; */
    /* justify-content: center; */
}
.btnContainer
{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .inp,button
{
    padding: 0.5em;
    margin: 0.25em;
} */
.inputContainer
{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #f8fafc; */
    /* color: white; */
}
/* .inp
{
    border-radius: 10px;
    border: none;
    width:85%;
    padding:1em 0.75em;  
      
}
.inp:focus
{
    outline: none;
} */

.placeholder
{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    color: grey;
}
a,a:visited,a:focus
{
    color: var(--link-color);
    width: 100%;
}
.removeBtn
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 1em; */
    position: sticky;
    top: 10px;
    border: none;
    background-color: inherit;
    transition: all 200ms ease-in-out;
}
.removeBtn:hover
{
    background-color: var(--secondary-hover-bg);
    
}
.removeIcon
{
    width:22px;
    /* background-color: #f03535; */
}
.removeIcon:focus
{
    outline: none;
}
/* .addBtn,.clear
{
    all:unset;
    padding: 0.5em;
    margin: 0.25em;
    border:1.5px solid;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 200ms ease-in-out;
}
.addBtn{
    color: var(--accent-color);
    border:1.5px solid var(--accent-color);
    border-color: var(--accent-color);
}
.addBtn:hover
{
    background-color: var(--accent-color);
    color: white;
} */
.clear
{
    background-color: var(--bg-layer-1);
    border-color: var(--bg-layer-1);
}
.clear:hover
{
    /* background-color: #c8cbce; */
    background-color: var(--secondary-hover-bg);
    border-color: var(--secondary-hover-bg);
    /* color: white; */
}
@media screen and (max-width:600px)
{
    #root
    {
        /* margin-top: 0; */
        height: 100vh;
        border-radius: 0;
    }
}