@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*,*::after,*::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
:root
{
    --secondary-hover-bg:rgb(202, 202, 202);
    --accent-color:rgb(133, 219, 133);
    /* --bg-layer-1:#E2E6EA; */
    --bg-layer-1:white;
    /* --bg-layer-2:#f1f4f5; */
    --bg-layer-2:#F2F2F2;
    --link-color:rgb(27, 47, 233);
}
div,button,input
{
    border: 1px solid black;
}

#root
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:70%;
    margin: auto;
    padding:2em;
}

button,input
{
    all:unset;
}

.addContainer
{
    display: flex;
    width: 100%;
    margin-bottom: 1.5em;
    padding: 0.5em 0.75em;
}

button
{
    /* padding:0 0.5em; */
    width:40px;
    height:40px;
    background-color: lightgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 0.5em;
}

.addInpBox
{
    /* border: 1px solid black; */
    margin: 0 auto;
    width:85%;
    padding:0.25em 0.5em;
    border-bottom:1.5px solid black;
    font-weight: 700;
    /* color: black; */
}

.list
{
    list-style-type: none;
    width:100%;
}

.list__item
{
    /* display: flex; */
    position: relative;
    /* border: 1px solid black; */
    /* width:500px; */
}

.top
{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 100;
    border: 1px solid black;
}


.bottom
{
    /* z-index: -1; */
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    /* z-index: -1; */
}


.button-container
{
    display: flex;
    align-items: center;
    padding:0.5em 0.75em;
}

.button-container>button
{
    width:50px;
    height:50px;   
}


.list__item__content
{
    display: inline-block;
    width: fit-content;
    line-height: 65px;
    padding:0 1em;
    /* border:1px solid black; */
}

.top:hover
{
    /* display: none; */
}

/*  End of new sliding list__item*/
@media screen and (max-width:600px)
{
    #root
    {
        /* margin-top: 0; */
        height: 100vh;
        border-radius: 0;
    }
}